In [1]:
import numpy as np
import pandas as pd
df = pd.read_excel("veg.xlsx")
df

          datesk          Item Name                 Date  price
0       20110101     Kashini greens  2011-01-01 00:00:00    NaN
1       20110101    Pineapple juice  2011-01-01 00:00:00    NaN
2       20110101      Thiland Juice  2011-01-01 00:00:00    NaN
3       20110101      Thiland Jelly  2011-01-01 00:00:00    NaN
4       20110101       Orange juice  2011-01-01 00:00:00    NaN
...          ...                ...                  ...    ...
868960  20180227       Komark fruit           27/02/2018   28.0
868961  20180227          Dry dates           27/02/2018   20.0
868962  20180227  Tamarind seedless           27/02/2018  230.0
868963  20180227    Dry fruit mixed           27/02/2018    NaN
868964  20180227  Tender Coconut(S)           27/02/2018   25.0

[868965 rows x 4 columns]

In [2]:
df.shape

(868965, 4)

In [3]:
df.price.isnull().sum()

317017

In [4]:
df1=df.dropna(subset='price')
df1

          datesk              Item Name                 Date  price
296     20110101           Sponge Gourd  2011-01-01 00:00:00   32.0
22311   20110309      Berry Southafrica  2011-09-03 00:00:00    0.0
22312   20110309      Baby corn cleaned  2011-09-03 00:00:00   56.0
22313   20110309              Baby corn  2011-09-03 00:00:00   14.0
22314   20110309  Chillies Bajji yagani  2011-09-03 00:00:00    0.0
...          ...                    ...                  ...    ...
868958  20180227           Cherry fruit           27/02/2018  150.0
868960  20180227           Komark fruit           27/02/2018   28.0
868961  20180227              Dry dates           27/02/2018   20.0
868962  20180227      Tamarind seedless           27/02/2018  230.0
868964  20180227      Tender Coconut(S)           27/02/2018   25.0

[551948 rows x 4 columns]

In [5]:
df2=df1.drop(['datesk','Date'],axis='columns')
df3=df2.reset_index(drop=True)
df3

                    Item Name  price
0                Sponge Gourd   32.0
1           Berry Southafrica    0.0
2           Baby corn cleaned   56.0
3                   Baby corn   14.0
4       Chillies Bajji yagani    0.0
...                       ...    ...
551943           Cherry fruit  150.0
551944           Komark fruit   28.0
551945              Dry dates   20.0
551946      Tamarind seedless  230.0
551947      Tender Coconut(S)   25.0

[551948 rows x 2 columns]

In [6]:
df3.isnull().sum()

Item Name    0
price        0
dtype: int64

In [7]:
df3['Item Name'].unique()

array(['Sponge Gourd', 'Berry Southafrica', 'Baby corn cleaned',
       'Baby corn', 'Chillies Bajji yagani', 'Chilakarive green',
       'Potato pack', 'Onion pack', 'Chakota greens', 'Eggs',
       'Arive greens', 'knol-khol', 'Chikadi kai', 'Garlic cleaned',
       'Garlic', 'Ginger New', 'Ginger', 'Ground nut Hybrid',
       'Ground nut Local', 'Double Beans', 'Double Beans seeds',
       'Drumstik', 'Cherry Tomoto', 'Cauliflower per Kg',
       'Cauliflower(S)', 'Cauliflower(M)', 'Mushroom Milky',
       'Mushroom Button', 'Lime Bijapur', 'Grapes Dry 100gm',
       'Grapes Dry 250gm', 'Grapes Red globe', 'Lime Local',
       'Little gourd', 'Ladys finger', 'Herali kai', 'Grapes T.S.',
       'Avarekai (Field Beans )', 'Banana cooking R.Banana', 'Jukani',
       'Sham gadde', 'Snake Gourd(S)', 'Snake Gourd', 'Raddish Red',
       'Raddish', 'Sweet Potato(Genasu)', 'Potato Baby', 'Potato(S)',
       'Potato(B)', 'Potato(M)', 'Pumpkin Japan', 'Pumpkin Red',
       'Pumpkin Ash', 'Peas Ooty', 'Peas Dharwad', 'Orange South Africa',
       'Orange malt', 'Grapes Blore blue', 'Guava Allahabad(Red)',
       'Guava', 'Chicco(Sapota)', 'Custerd Apple',
       'Chicco(Sapota) rapined', 'Banana Rasabale', 'Banana karpura',
       'Banana Nendra', 'Banana chandra', 'Banana Yellaki',
       'Banana pachabale', 'Apple Golden delicious', 'Apple Green smith',
       'Apple hazarath palli', 'Apple Fuji chaina', 'Apple Newzeland',
       'Apple Australia', 'Apple Washington', 'Apple Economy',
       'Apple Simla', 'Apple Delicious', 'Palak Greens', 'Menthya Greens',
       'Mint Leaves', 'G.nut oil Rice Bron 1 lt', 'G.nut oil Premium1 lt',
       'Ground nut oil 1 lt', 'G.oil Net rich 500 ml',
       'Fruit Juice Tailand', 'Tender Coco packed', 'Tender Coconut(S)',
       'Pista', 'Dates Arebian', 'Thinda', 'Tamarind seedless',
       'Tamrind Chatisghar', 'Tender Coconut(M)', 'Tender Coconut',
       'Straw Berry', 'Litchi Taiwan/chaina', 'Litchi Local',
       'Kiwi fruit', 'Komark fruit', 'Grapes Crimson',
       'Grapes Krishna sharad', 'Grapes Flame', 'Grapes Sonika',
       'Grapes Rose', 'Grapes Sharad', 'Grapes Dilkush',
       'GrapesAnabi shahi', 'Hesaru kalu', 'Molake kalu',
       'Greens Sabbakki', 'Parvala', 'Spring Onion(Cleaned)',
       'Spring Onion', 'Chocolates Drink box', 'Fanda', 'Jam 100 gm',
       'Jam 200 gm', 'Jam 1/2 kg', 'Jam 1 kg', 'Coconut oil 500 ml',
       'Stevia powder', 'Pepper', 'Sungold oil 5 lt packet',
       'Sun safal Tin 15 lt', 'Tamarind Paste 450 gm',
       'Safal deep 500 ml', 'Ground nut oil 5 lt', 'Sungold oil 5 lt',
       'Rice Bran 5 lt', 'Tamarind Paste 150 gm', 'Washington red apple',
       'Indian red globe', 'Apple Chilli', 'Bread fruit', 'Peas seeds',
       'Anjura/Fig', 'Butter fruit', 'Bore fruit',
       'S.mellon Local (Luck)', 'S.mellon namdhari (Red)', 'Mosambi polo',
       'Chilles small cleaned (C.B.P)', 'Washington gala apple',
       'Times Rose berry', 'Grapesh Tash ganesh', 'Chikkadikai cleaned',
       'Orange juice', 'Thiland Jelly', 'Thiland Juice',
       'Pineapple juice', 'Kashini greens', 'Mosambi',
       'S.mellon namdhari', 'Watermellon kiran', 'Watermellon',
       'Tamarind sweet 500gm', 'Rampal', 'Rose apple', 'Pomello/Chakotha',
       'Peaches', 'Plum Australia', 'Plum Ooty', 'Pineapple',
       'Papaya sola', 'Papaya Red lady', 'Papaya Taiwan', 'Papaya nati',
       'Pomegranate Ganesh', 'Pomegranate A.raktha', 'Pomegranate Bhagav',
       'Pomegranate', 'Ginger ooty', 'Dhantu greens', 'Curry leave',
       'Corriander Leave', 'Kakadi', 'Pickles mixed veg', 'mango Pickles',
       'Lime Pickles', 'Pickles', 'Rice Bran 15 lt Tin',
       'G. nut sungold 1 lt', 'G. nut Golden oil 1 lt',
       'G. nut oil safal deep1 lt', 'G. nut oil Rice 1 lt', 'Apple juice',
       'Litchi Juice', 'Parsley', 'Leeks', 'Selari',
       'South Africa Gala apple', 'Indian kinora apple',
       'Chikkadikai Round', 'Mineral water 1 lt', 'Net rich 5 lt oil',
       'Byladha Hannu', 'Maize', 'Y.Bananan T.N.', 'Chain Berry',
       'Onion flowers', 'Letteus Greens', 'Basale Greens',
       'BaleDindu (Banana stem)', 'Batani kalu', 'Sweet corn seeds spok',
       'Sweet corn cleaned', 'Sweet corn', 'Orange Australia',
       'Orange Ooty', 'Orange Nagpura', 'Orange', 'Mango sakkaregutti',
       'Mango Alphans box', 'Mango rathnagiri(red)', 'Mango Amarpalli',
       'Mango Kesar', 'Mango Langada', 'Mango Dasheri', 'Mango Neelam',
       'Mango kalapadu', 'Mango thotapuri', 'Mango mallika',
       'Mango malagova', 'Mango Bygan palli', 'Mango Sendura',
       'Cluster Bean Local', 'Mangalore cucumber', 'Cucumber Ooty',
       'Cucumber Israle', 'Cucumber Nati', 'Cucumber', 'Chow-Chow',
       'Bottle Gourd', 'Jambo fruit(Nerale)', 'Dry fruit mixed', 'Badami',
       'Dry apricot', 'Dates seedless', 'Dry dates', 'Dates',
       'Cashew nut', 'Cherry kashmir', 'Cherry fruit',
       'Ber fruit/Bore fruit', 'Berry Delhi', 'Berry Soft',
       'Berry fruit Ooty', 'Peas Delhi', 'Peas local', 'Onion samber',
       'Mango Raspuri', 'Onion small(Economy)', 'Mango Alphans',
       'Mango Badami', 'Mango', 'Papaya red indian',
       'Indian Black globe Grapes', 'Jack fruit', 'Onion Big',
       'Onion medium', 'Mushroom Oyster', 'Brucoli',
       'Avare seed (FB seeds)', 'Avarebele (F. Beans spok)',
       'Bale hoovu(B.flower)', 'Sweet corn seeds',
       'Kashini (Ganike) Greens', 'Cucumber white',
       'Cluster Beans Bunches', 'Gulkan 1/4 kg', 'Gulkan 1/2 kg',
       'Gulkan 1 kg', 'Honney 100 gm', 'Honney 200 gm', 'Honney 1 Kg',
       'Honney 1/2', 'Copra', 'Cauliflower(B)', 'Cabbage chaina',
       'Cabbage Red', 'Cabbage', 'Coconut (OS)', 'Coconut (S)',
       'Coconut (M)', 'Coconut (B)', 'Cowpea Long', 'Cowpea Local',
       'Carrot Nati', 'Carrot Delhi', 'Carrot ooty',
       'Chillies small (C.B.P)', 'Chillies Cleaned', 'Chillies Bajji',
       'Chillies Green', 'Capsicum Red/Yellow', 'Capsicum 1', 'Capsicum',
       'Mango Raw', 'Mango Raw Amblet', 'Thogari kai', 'Tomoto',
       'Bitter Gourd', 'Yam/S.Root', 'Beet Root', 'Brinjal Mlore',
       'Brinjal Bottle', 'Brinjal (R)', 'Brinjal (W)', 'Brinjal long',
       'Beans cleaned', 'Beans Fruit', 'Beans Ring', 'Beans Nati',
       'Beans', 'Amla', 'N.Juice 200 ml', 'Pomegranate Juice',
       'Brahmi amla juice', 'Jumbu juice', 'South Af.red berry',
       'Nagapur Orange Economy', 'Malenian apple', 'Apple Premium',
       'Berry Green', 'Berry ball', 'Berry Golden', 'Rumenia Mango',
       'Apple Chaina Delicious'], dtype=object)

In [8]:
dum=pd.get_dummies(df3['Item Name'],dtype=int)
dum

,Amla,Anjura/Fig,Apple Australia,Apple Chaina Delicious,Apple Chilli,Apple Delicious,Apple Economy,Apple Fuji chaina,Apple Golden delicious,Apple Green smith,...,Times Rose berry,Tomoto,Washington gala apple,Washington red apple,Watermellon,Watermellon kiran,Y.Bananan T.N.,Yam/S.Root,knol-khol,mango Pickles
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
551943,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
551944,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
551945,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
551946,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
551947,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
df4=pd.concat([df3,dum],axis='columns')
df4

,Item Name,price,Amla,Anjura/Fig,Apple Australia,Apple Chaina Delicious,Apple Chilli,Apple Delicious,Apple Economy,Apple Fuji chaina,...,Times Rose berry,Tomoto,Washington gala apple,Washington red apple,Watermellon,Watermellon kiran,Y.Bananan T.N.,Yam/S.Root,knol-khol,mango Pickles
0,Sponge Gourd,32.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Berry Southafrica,0.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Baby corn cleaned,56.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Baby corn,14.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Chillies Bajji yagani,0.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
551943,Cherry fruit,150.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
551944,Komark fruit,28.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
551945,Dry dates,20.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
551946,Tamarind seedless,230.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
551947,Tender Coconut(S),25.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
df5=df4.drop('Item Name',axis='columns')
df5.head()

,price,Amla,Anjura/Fig,Apple Australia,Apple Chaina Delicious,Apple Chilli,Apple Delicious,Apple Economy,Apple Fuji chaina,Apple Golden delicious,...,Times Rose berry,Tomoto,Washington gala apple,Washington red apple,Watermellon,Watermellon kiran,Y.Bananan T.N.,Yam/S.Root,knol-khol,mango Pickles
0,32.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,56.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,14.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [16]:
df5['price']=df5['price'].replace(0.0,pd.NA)
df5

,price,Amla,Anjura/Fig,Apple Australia,Apple Chaina Delicious,Apple Chilli,Apple Delicious,Apple Economy,Apple Fuji chaina,Apple Golden delicious,...,Times Rose berry,Tomoto,Washington gala apple,Washington red apple,Watermellon,Watermellon kiran,Y.Bananan T.N.,Yam/S.Root,knol-khol,mango Pickles
0,32.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,<NA>,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,56.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,14.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,<NA>,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
551943,150.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
551944,28.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
551945,20.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
551946,230.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
551947,25.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [17]:
df6=df5.dropna(subset='price')
df6

,price,Amla,Anjura/Fig,Apple Australia,Apple Chaina Delicious,Apple Chilli,Apple Delicious,Apple Economy,Apple Fuji chaina,Apple Golden delicious,...,Times Rose berry,Tomoto,Washington gala apple,Washington red apple,Watermellon,Watermellon kiran,Y.Bananan T.N.,Yam/S.Root,knol-khol,mango Pickles
0,32.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,56.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,14.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,22.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,21.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
551943,150.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
551944,28.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
551945,20.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
551946,230.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
551947,25.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [18]:
# df6.to_json('output.json', orient='records')

In [19]:
df7=df6.reset_index(drop=True)
df7

,price,Amla,Anjura/Fig,Apple Australia,Apple Chaina Delicious,Apple Chilli,Apple Delicious,Apple Economy,Apple Fuji chaina,Apple Golden delicious,...,Times Rose berry,Tomoto,Washington gala apple,Washington red apple,Watermellon,Watermellon kiran,Y.Bananan T.N.,Yam/S.Root,knol-khol,mango Pickles
0,32.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,56.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,14.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,22.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,21.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395645,150.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
395646,28.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
395647,20.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
395648,230.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
395649,25.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [20]:
X=df7.drop('price', axis='columns')
X

,Amla,Anjura/Fig,Apple Australia,Apple Chaina Delicious,Apple Chilli,Apple Delicious,Apple Economy,Apple Fuji chaina,Apple Golden delicious,Apple Green smith,...,Times Rose berry,Tomoto,Washington gala apple,Washington red apple,Watermellon,Watermellon kiran,Y.Bananan T.N.,Yam/S.Root,knol-khol,mango Pickles
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395645,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
395646,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
395647,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
395648,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
395649,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [21]:
y=df7.price
y

0          32.0
1          56.0
2          14.0
3          22.0
4          21.0
          ...
395645    150.0
395646     28.0
395647     20.0
395648    230.0
395649     25.0
Name: price, Length: 395650, dtype: object

In [28]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=50)

In [29]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()
lr.fit(X_train,y_train)
lr.score(X_train,y_train)

0.8533472036146719

In [36]:
# pip install joblib
import joblib
model='model.joblib'
joblib.dump(lr,model)

['model.joblib']